/* Sidebar.css */

/* Sidebar container */
.sidebar-main {
    display: flex;
    width: 60px; 
    transition: width 0.3s ease; 
    background: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   /* margin-left: 55px; */
   margin-left: -3px;
    margin-top: 20px;
    position: fixed;
    font-size: 13.5px;
}

.sidebar-container {
 

  height: calc(100vh - 50px);
  
}

.main-app.expanded .sidebar-main {
    width: 200px; 
    display: flex;
    transition: width 0.3s ease; 
    background: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   /* margin-left: 55px; */
    /* margin-top: 30px; */
    margin-left: -3px;
    position: fixed;
}


.layout-main {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
}


.main-div-content {
    flex: 1;
    margin-left: 60px; 
}


.expand-button{
  position: absolute;
  width: 10px;
  height:30px;
  margin-left: 30px;
  cursor: pointer;
  transition: width 0.3s ease;
}

.expand-button.expanded {
  
  margin-left: 150px;
  transition: width 0.3s ease;
}


.sidebar-list {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 30px;
    padding-left: 20px;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.sidebar-list.expanded {
  padding-left: 40px; 
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
  position: relative;
  z-index: 999;
}



.line1 {
    width: 102px;
    height: 2px;
    margin-left: -65px;
}

.main-app.expanded .line1 {
  margin-left: -65px;
}


.expandLine {
  width: 102px; 
  height: 2px; 
  margin-left: -45px; 
}


.main-app.expanded .expandLine {
  margin-left: -135px; 
}
.sidebar-container {
  position: relative; 
}


.sidebar-tooltip {
    background-color: #313265 !important;
    color: #fff !important;
    opacity: 1 !important;
    max-width: 200px !important;
    z-index: 1000;
}


.nav-icon {
    width: 20px;
    height: 20px;
}


.nav-text {
  color: white;
  margin-left: 10px; 
  vertical-align: middle; 
  white-space: nowrap;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none; 
}

.nav-content {
  display: flex;
  align-items: center; 
}